<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>INDÛ</title>
    <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/fontawesome.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/owl.css">
  </head>

  <body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><i><h2>INDÛ</h2></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <!-- Dynamic category links will be added here -->
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/createProduct">Create</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="/createCategory">Add Category</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
              <li class="nav-item status">
                <a class="nav-link"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Don’t let confusion cloud your vision</h4>
            <h2>Stay focused!</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Stay tuned</h4>
            <h2>New design is out!</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Stay warm and cozy!</h2>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>INDÛ Clothing</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best products?</h4>
              <p> INDÛ is a Kapampangan word meaning "mother" or profoundly means "where you came from" (Indung Ibatan). A local apparel brand started 2014 & the concept is to promote local & homegrown goods which is well known for its premium quality affordable crewneck shirts proudly made in Angeles City. <a rel="nofollow" href="contact.html">Contact us</a> for more info.</p>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>INDÛ</em> Products</h4>
                  <p>INDÛ clothing is a locally made merchandise featuring Kapampangan puns and facts.</p>
                </div>
                <div class="col-md-4">
                  <a href="products.html" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; INDÛ.
            
            - Design: <a rel="nofollow noopener" target="_blank">Lance Cabe</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/scripts.js"></script>
    <script src="stylesheets/vendor/jquery/owl.js"></script>
    <script src="stylesheets/vendor/jquery/slick.js"></script>
    <script src="stylesheets/vendor/jquery/isotope.js"></script>
    <script src="stylesheets/vendor/jquery/accordions.js"></script>
    <script src="javascripts/categoriesDropdown.js"></script>
    <script src="javascripts/userStatus.js"></script>
    

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0;
      function clearField(t){                  
      if(! cleared[t.id]){                     
          cleared[t.id] = 1;  
          t.value='';         
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>
