<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <title>INDÛ</title>
        <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/fontawesome.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/owl.css">
        <link rel="stylesheet" href="stylesheets/signup-styles.css">
        <link rel="stylesheet" href="stylesheets/view-styles.css">
    </head>

    <body>
        <div id="preloader">
            <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
            </div>
        </div>

        <header class="">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <i><h2>INDÛ</h2></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                                </div>
                              </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/products">Our Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/orders">Orders</a>
                            </li>
                            <li class="nav-item status">
                                <a class="nav-link"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-heading products-heading header-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                <div class="login-container">
                    <!-- Product Item Section Start -->
                    <div class="product-item">
                    <a><img class="product-img" src="https://via.placeholder.com/400x300" alt="Product Image"></a>
                    <div class="down-content">
                        <a><h4 class="product-name"></h4></a>
                        <h6 class="product-price"></h6>
                        <p class="product-desc"></p>

                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" value="1">
                        <button class="add-to-cart-btn">Add to Cart</button>
                    </div>
                    </div>
                    <!-- Product Item Section End -->
                </div>
                </div>
            </div>
            </div>
        </div>

        <script src="stylesheets/vendor/jquery/jquery.min.js"></script>
        <script src="stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="javascripts/scripts.js"></script>
        <script src="stylesheets/vendor/jquery/owl.js"></script>
        <script src="stylesheets/vendor/jquery/slick.js"></script>
        <script src="stylesheets/vendor/jquery/isotope.js"></script>
        <script src="stylesheets/vendor/jquery/accordions.js"></script>
        <script src="javascripts/categoriesDropdown.js"></script>
        <script src="javascripts/userStatus.js"></script>
        <script src="javascripts/getProductDetails.js"></script>
        <script src="javascripts/addItemToCart.js"></script>
        <script language="text/Javascript">
            cleared[0] = cleared[1] = cleared[2] = 0;

            function clearField(t) {
            if (!cleared[t.id]) {
                cleared[t.id] = 1;
                t.value = '';
                t.style.color = '#fff';
            }
            }
        </script>
    </body>
</html>
